<footer>
  <div class="row">

    <div class="col-md-3 col-sm-6 col-xs-3">
      <div class="footer-icone">
        <h3 class="h3footer"> Où nous trouver ?</h3>
        <p class="pfooter">
          2 Rue Louis Petit
          59220   Denain
        </p>

      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-3">
      <div class="footer-icone">
        <h3 class="h3footer"> Suis-nous sur :</h3>
        <div class="container">
          <i class="fa fa-facebook-square fa-3x"></i>
          <i class="fa fa-twitter-square fa-3x"></i>
          <i class="fa fa-instagram fa-3x"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-3">
      <div class="footer-icone">
        <h3 class="h3footer">A propos:</h3>
        <p class="pfooter"><a style="color:#0a93a6; text-decoration:none;" href="#"> MEDIA TEMPLATE</a> est un site créer par quatre étudiants en formation de Développeur Intégrateur Web de l'école WebForce3.</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-3">
      <div class="footer-icone">
        <h3 class="h3footer">Contact</h3>
        <p class="pfooter"> Contactez-nous par mail : mediatemplate@wf3.com <br>
          Ou via le formulaire de contact<a style="color:#0a93a6; text-decoration:none;" href="/contact"> ici.</a></p>
        </div>
      </div>

    </div>

    <div class="reservedrigth">
      <p class="rsr">© 2018 <a style="color:#0a93a6; text-decoration:none;" href="#"> MEDIA TEMPLATE</a> Tous droits réservés.</p>
    </div>
  </footer>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
