    <!--<img src="/img/bgnews.jpg" alt="Background du site."> -->
    <div class="col-md-7 col-sm-12 couleur">
        <div class="fresharticles">
                <% for(article of articles) {%>
                <div><%- article.contentarticle %></div>
        
                <% } %>
        </div>
          
    </div>

