<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <nav class="menu col-md-12">
            <ul class="menu-interne text-center">
                <li class="">
                    <a href="/">Accueil</a>
                </li>

                <li class="">
                    <a href="#">Articles</a>
                    <ul>
                      <% if (typeof articlesList !== "undefined") { %>
                        <% articlesList.forEach(function(article) { %>
                          <li><a href="/article/<%= article._id %>"><%= article.articletitle %></a></li>
                        <% }); %>
                      <% } %>
                    </ul> 
                </li>

                <li class="">
                    <a href="/contact">Contact</a>
                </li>

            </ul>
        </nav>
     
        <div class="nav navbar-right login bouton">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><% if (typeof sessionUser === "undefined") { %>Connexion / Inscription<% } else { %><%= sessionUser.firstName + " " + sessionUser.lastName %><% } %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if (typeof sessionUser === "undefined") { %>
            <li><a id="connexion" href="#">Connexion</a></li>
            <li><a href="/inscription">Inscription</a></li>
            <% } else { %>
              <% if (sessionUser.role == 1) { %>
                <li><a href="/admin">Administration</a></li>
              <% } %>
            <li><a href="/logout">Déconnexion</a></li>
            <% } %>
          </ul>
        </div>
    </div>
</nav>
<!-- Formulaire de connexion. -->
<div id="layout" class="calque-opaque">
  <div class="box">
    <div class="box-header">
      <div class="title-bar connexion_title">
        <span class="title">Connexion</span>
      </div>
    </div>
    <div class="box-content fenetre_connexion">
        <form class="" method="post" action="/login">
            <input class="form-control navco" type="email" name="email" id="email" placeholder="Votre email" />
            <input class="form-control navco" type="password" name="password" id="password" placeholder="Votre mot de passe" />
            <button type="submit" id="submit" class="fabutton fa fa-user fa-lg fa-2x" style="margin-top: 0.5em;"></button>
        </form>
    </div>
    <div class="box-footer">

    </div>
  </div>
</div>

<script>
  /* Bouton d'affichage de la boîte de dialogue. */
  let connexion = document.getElementById("connexion");
  connexion.addEventListener("click", afficher_boite);

  /* Boîte de dialogue. */
  let layout = document.getElementById('layout');

  /* Affichage de la boîte de choix d'image. */
  function afficher_boite ()
  {
    /* Affichage. */
    layout.style.display = "block";
  };

  /* Masquage de la boîte de choix d'image. */
  window.onclick = (event) =>
  {
    if (event.target == layout)
      layout.style.display = "none";
  };
</script>
