


    
          
                <!-- ***** DIV DE LA SIDEBAR CI-DESSOUS ***** -->
                <div class="col-md-4 col-sm-12 sidebar">
                    <ul class="dernierarticle">
                        <li><a class="derniersarticles" href="#">DERNIERS ARTICLES</a>   
                        </li>
                    </ul>
                    <div class="listarticle">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="../img/meteo_france2.jpg" alt="">
                                </a>
                                
                                <h3>
                                    <a href="#">
                                        Météo
                                    </a>
                                </h3>
                                <div class="info-article">
                                    <a href="#">
                                        Françoise Laborde
                                    </a>
                                    <span>
                                        07/03/2018
                                    </span>
                                </div>    
                            </li>
                        </ul>
                    </div>
                    <div class="article_en_vedette">
                        <span class="envedette">En vedette</span>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="../img/thalassa.jpg" alt="">;
                                </a>
                                <h3>
                                    <a href="#">
                                        Thalassa
                                    </a>
                                </h3>
                                <div class="info-article">
                                    <a href="#">
                                        Fanny Agostini
                                    </a>
                                    <span>
                                            08/03/2018
                                    </span>
                                </div>    
                            </li>
                        </ul>
                    </div>

                </div> <!-- ***** DIV SIDEBAR ***** -->


    
