


    

           <!-- <div class="col-md-8">
                

            </div> <! DIV CONTENU DE LA PAGE -->    


                <!-- ***** DIV DE LA SIDEBAR CI-DESSOUS ***** -->
<div class="col-md-4 col-sm-12 sidebar">
    <ul class="dernierarticle">
        <li>
            <a class="derniersarticles" href="#">DERNIERS ARTICLES</a>   
        </li>
    </ul>
    <div class="listarticle">
        <ul>

        </ul>
    </div>
</div> <!-- ***** DIV SIDEBAR ***** -->
 
