<!-- ***** DIV DE LA SIDEBAR CI-DESSOUS ***** -->
<div class="col-md-4 col-sm-12 col-xs-12 sidebar">
        <ul class="dernierarticle">
            <li><a class="derniersarticles" href="#"></a></li>
        </ul>

        <div class="listarticle">
            <ul>
                <li>
                    <a href="#"><img src="../img/webforce3.jpg" class="img-responsive" alt=""></a>
                    <h3><a href="#">Webforce3</a></h3>
                    <div class="info-article">
                        <a href="#">Cyrille Renard</a>
                        <span>20/03/2018</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="article_en_vedette">
            <span class="envedette"></span>
            <ul>
                <li>
                    <a href="#"><img src="../img/boxydev.jpg" class="img-responsive" alt=""></a>
                    <h3><a href="#">Boxydev</a></h3>
                    <div class="info-article">
                        <a href="#">Mathieu Mota</a>
                        <span>20/03/2018</span>
                    </div>
                </li>
            </ul>
        </div>
        
</div>
    <!-- ***** DIV SIDEBAR ***** -->