<% include ./partials/head %>

  <title><%= title %></title>
</head>
<<<<<<< HEAD
<body >
  <% include ./partials/navbar %>
  <div style="height: 250px;">
=======
<body id="notfound">

  
 
>>>>>>> 7d819c0680c68d537d587b34f812fea469c612ee

    <div class="container">
      
       
        <div class="text-center">

          <h1 class="pageintrouvable"><%= title %></h1>
          <h2 class="error404">Erreur 404</h2>
          <button class="btnerror">Retournez à l'accueil</button>
         
          <img class="travolta" src="img/travolta.gif" alt="travoltagif">

        </div>
        

        

      
    </div> <!-- DIV CONTAINER -->  

    <script>
    $(document).ready(function(){

    $("img.travolta").animate({
        left: '250px',
        height: '+=150px',
        width: '+=150px'
    });      
   
   });
    </script>
    
   
  

  