<% include ./partials/head %>

  <title><%= title %></title>
</head>
<body >
  <% include ./partials/navbar %>
  <div style="height: 250px;">

    <div class="container">
      <div class="row">

        <h1><%= title %></h1>
        <h2>Erreur 404</h2>

        <% include ./partials/sidebar %>

      </div> <!-- DIV ROW -->
    </div> <!-- DIV CONTAINER -->  

  </div>

  <% include ./partials/footer %>