<% include ./partials/head %>

  <title><%= title %></title>
</head>


  
<body id="notfound">


  <div class="container">
    <div class="text-center">
      <h1 class="pageintrouvable"><%= title %></h1>
      <h2 class="error404">Erreur 404</h2>
      <a href="/" class="btnerror" >Retournez à l'accueil</a>
      <img class="travolta" src="img/travolta.gif" alt="travoltagif">
    </div>
  </div>

    <script>
    $(document).ready(function(){

    $("img.travolta").animate({
        left: '250px',
        height: '+=150px',
        width: '+=150px'
    });

   });
    </script>
</body>