<% include ./partials/head %>

  <title><%= title %></title>
</head>
<<<<<<< HEAD

<body >
  <% include ./partials/navbar %>
<body id="notfound">

=======
<body id="notfound">

  
 
>>>>>>> dev

    <div class="container">


        <div class="text-center">

<<<<<<< HEAD
          <h1><%= title %></h1>
          <h2>Erreur 404</h2>

=======
          <h1 class="pageintrouvable"><%= title %></h1>
          <h2 class="error404">Erreur 404</h2>
          <button class="btnerror">Retournez à l'accueil</button>
         
>>>>>>> dev
          <img class="travolta" src="img/travolta.gif" alt="travoltagif">

        </div>





    </div> <!-- DIV CONTAINER -->

    <script>
    $(document).ready(function(){

    $("img.travolta").animate({
        left: '250px',
        height: '+=150px',
        width: '+=150px'
    });

   });
    </script>
