<% include ./partials/head %>
<title><%= title %></title>
</head
<% include ./partials/navbar %>

    <h1><%= title%></h1>

    <img src="/admin/image/test" alt="image test">

<% include ./partials/footer %>