<% include ./partials/head %>
<title><%= title %></title>
</head>
<% include ./partials/navbar %>
<form class="addarticle" action="/" method="post">
  <label for="articleimage">Illustration de l'article</label>
  <input type="file" name="articleimage" value="" id="articleimage">
  <br>
  <label for="articletitle">Titre de l'article</label>
  <input type="text" name="articletitle" id="articletitle" value="">
  <br>
  <label for="articledate">Date de parution</label>
  <input type="date" name="articledate" id="articledate" value="">
  <br>
  <label for="articletext">Contenu de l'article</label>
  <input type="text" name="articletext" value="">
  <br>
  <label for="authorarticle">Auteur de l'article</label>
  <input type="text" name="authorarticle" value="" id="authorarticle">
  <br>

  <button type="submit" name="button">Ajouter l'article</button>
</form>




<% include ./partials/footer %>

<script type="text/javascript">
  const form = document.querySelector('form');
  form.addEventListener('submit', addArticle);
  function addArticle(event){
    event.preventDefault();
    if(fetch) {
      fetch('/', {
        method: 'POST',
        body: new FormData(form)
      })
      .then(checkStatus)
      .catch(function(error){
        console.error('request failled', error);
      })
    } else {
      // JQUERY XHR
    }
  }
  function checkStatus(response){
    if(response.status>= 200 && response.status < 300){
      let newArticleDiv = document.createElement('div');
      const articletitle = document.getElementById('articletitle').value;
      const articledate = document.getElementById('articledate').value;
      const articleimage = document.getElementById('articleimage').value;
      const articletext = document.getElementById('articletext').value;
      const authorarticle = document.getElementById('authorarticle').value;
      newArticleDiv.innerHTML = `${articletitle}  (${articledate}) ${articleimage} ${articletext} ${authorarticle}`;
      document.querySelector('.fresharticles').appendChild(newArticleDiv);
      form.reset();


    }
  }
</script>
