<% include ./partials/headadmin %>
<title><%= title %></title>
</head>
<div class="container-fluid">
    <div class="row">
        <% include ./partials/adminside %>
        <div class="col-md-8">
            <form id="photoForm" class="photoFormm" action="/admin/image" method="POST" enctype="multipart/form-data">
                <h1><%= title%></h1>
                <label for="photo">Photo</label>
                <input type="file" name="photo" id="photo">
                <button type="submit">Enregistrer photo</button>
            </form>
        </div>
    </div>
</div>


    

   

