<% include ./partials/headadmin %>
<title><%= title %></title>
</head>
<% include ./partials/adminside %>

<div class="col-sm-9 col-xs-9 col-lg-10">

  <h1><%= title %></h1>



<form class="" action="/" method="post" id="articleform">
<input type="text" name="articletitle" value="" id="articletitle" placeholder="">
<textarea name="contentarticle" id="contentarticle"></textarea>
<button type="submit" name="button" class="btn btn-success" style="margin-left: 45%; margin-top: 20px;">Postez l'article</button>
</form>

</div>






<script src="/js/tinymce/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'#contentarticle',
skin: 'custom' ,
language: 'fr_FR',
language_url: '/js/tinymce/langs/fr_FR.js',
plugins: "media image insertdatetime table",
menubar: "insert",


});

tinymce.activeEditor.uploadImages(function(success) {
  $.post('/image', tinymce.activeEditor.getContent()).done(function() {
    console.log("Image posté en Ajax");
  });
});</script>
<script type="text/javascript">
  const form = document.querySelector('form');
  form.addEventListener('submit', addArticle);
  function addArticle(event){
    event.preventDefault();
    if(fetch) {
      fetch('/admin/article', {
        method: 'POST',
        body: new FormData(form)
      })
      .then(checkStatus)
      .catch(function(error){
        console.error('request failed', error);
      })
    } else {
      // JQUERY XHR
    }
  }
  function checkStatus(response){
    if(response.status>= 200 && response.status < 300){
      let newArticleDiv = document.createElement('div');
      const contentarticle = document.getElementById('contentarticle').value;
      const articletitle  = document.getElementById('articletitle').value;
      newArticleDiv.innerHTML = `${articletitle} ${contentarticle}  `;
      document.querySelector('.fresharticles').appendChild(newArticleDiv);
      form.reset();


    }
  }
</script>
