<% include ./partials/head %>
<title>Surface Ajout Articles</title>
</head>
<% include ./partials/navbar %>
<div class="container text-center">
  <form class="addarticle jumbotron" action="/index" method="post">
  <label class="labelaa" for="articleimage">Illustration de l'article</label>
  <!--<input type="file" style="color: #ad8dda;" name="articleimage" value="" id="articleimage"> -->
<br>
  <input type="file" id="articleimage" type="file">

<label for="articleimage">
 
    
    <span> Importez l'image&hellip;</span>
    
</label>

  <br>
  <label class="labelaa" for="articletitle">Titre de l'article</label>
  <input type="text" class="form-control" name="articletitle" id="articletitle" value="">
  <br>
  <label class="labelaa" for="articledate">Date de parution</label>
  <input type="date" class="form-control" name="articledate" id="articledate" value="">
  <br>
  <label class="labelaa" for="articletext">Contenu de l'article</label>
  <input type="text" class="form-control" name="articletext" value="">
  <br>
  <label class="labelaa" for="authorarticle">Auteur de l'article</label>
  <input type="text" class="form-control" name="authorarticle" value="" id="authorarticle">
  <br>
    <div class="text-center">
      <button type="submit" class="btnerroraa" name="button">Ajouter l'article</button>
    </div>
  
</form>
</div>


<% include ./partials/footer %>
