<% include ./partials/head %>
<title><%= title %></title>
</head>
<% include ./partials/navbar %>



<form class="" action="/" method="post" id="articleform">
<textarea name="contentarticle" id="contentarticle"></textarea>
<button type="submit" name="button" class="btn btn-success" style="margin-left: 45%; margin-top: 20px;">Postez l'article</button>
</form>






<% include ./partials/footer %>
<script src="/js/tinymce/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea',
skin: 'custom' ,
language: 'fr_FR',
language_url: '/js/tinymce/langs/fr_FR.js',

},{
  selector: 'textarea',
  plugins: "media",
  menubar: "insert",
  toolbar: "media"
});

tinymce.activeEditor.uploadImages(function(success) {
  $.post('/image', tinymce.activeEditor.getContent()).done(function() {
    console.log("Image posté en Ajax");
  });
});</script>
<script>
    ClassicEditor
        .create( document.querySelector( '#contentarticle' ) )
        .catch( error => {
            console.error( error );
        } );
    function CKupdate() {
      for ( instance in CKEDITOR.instances)
      CKEDITOR.instances[instance].updateElement();
    }
</script>
<script type="text/javascript">
  const form = document.querySelector('form');
  form.addEventListener('submit', addArticle);
  function addArticle(event){
    event.preventDefault();
    if(fetch) {
      fetch('/', {
        method: 'POST',
        body: new FormData(form)
      })
      .then(checkStatus)
      .catch(function(error){
        console.error('request failled', error);
      })
    } else {
      // JQUERY XHR
    }
  }
  function checkStatus(response){
    if(response.status>= 200 && response.status < 300){
      let newArticleDiv = document.createElement('div');
      const contentarticle = document.getElementById('contentarticle').value;
      newArticleDiv.innerHTML = `${contentarticle}  `;
      document.querySelector('.fresharticles').appendChild(newArticleDiv);
      form.reset();


    }
  }
</script>
