<% include ./partials/headadmin %>
<title><%= title %></title>
</head>
<% include ./partials/adminside %>
  <div class="col-sm-9 col-xs-9 col-lg-10">
    <h1><%= title %></h1>

    <form id="formulaire_configuration" action="/admin/config" class="inscription" method="POST">
              
      <div class="form-group">
        <label for="article_accueil">Article à mettre sur la page d'accueil</label> 
        <select id="article_accueil" name="articleaccueil">
              <option value="undefined" >Aucun article</option>
          <% if (typeof articlesList !== "undefined") { %>
            <% articlesList.forEach(function(article) { %>
              <option value="<%= article._id %>"><%= article.articletitle %></option>
            <% }); %>
          <% } %>
        </select>
        <span class="help-block"></span>
      </div>
              
      <div class="text-center">
        <input class="btninscription" type="submit" name="Confirmer" value="Confirmer">
      </div>
    </form>
  </div>