<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
    <style>
      div.calque-opaque {
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(128, 128, 128, 0.8);
      }

      div.box {
        margin-left: 10%;
        margin-top: 10%;
        width: 80%;
        height: 80%;
        background: #fff;
      }

      div.box-header {
        text-align: center;
      }

      span.box-title {
        color: #000;
      }

      div.box-content {
        width: 100%;
        height: 80%;
        background: blueviolet;
      }

      div.box-content img {
        width: 25%;
        height: auto;
      }

      div.box-footer {

      }
    </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center"><%= title %></h1>
    <div class="row">
      <button id="choix" class="btn btn-info">Choisir une image</button>
      <img src="#" alt=""/>
    </div>
  </div>
</body>
<script>
  let image_choisie_id;
  let image_choisie_name;
  

  /* Affichage de la «fenêtre» de choix d'image. */
  function choisir_image ()
  {
    /* Éléments. */
    let div_calque = document.createElement("div");
    div_calque.setAttribute("class", "calque-opaque");
    let div_box = document.createElement("div");
    div_box.setAttribute("class", "box");
    let div_box_header = document.createElement("div");
    div_box_header.setAttribute("class", "box-header");
    let span_title = document.createElement("span");
    span_title.setAttribute("class", "box-title");
    span_title.textContent = "Choix d'une image";
    let div_box_content = document.createElement("div");
    div_box_content.setAttribute("class", "box-content");
    let div_box_footer = document.createElement("div");
    div_box_footer.setAttribute("class", "box-footer");
    let bouton_precedent = document.createElement("button");
    bouton_precedent.textContent = "Précédentes";
    let bouton_suivant = document.createElement("button");
    bouton_suivant.textContent = "Suivantes";

    /* Ajout à la page. */
    document.body.appendChild(div_calque);
    div_calque.appendChild(div_box);
    div_box.appendChild(div_box_header);
    div_box_header.appendChild(span_title);
    div_box.appendChild(div_box_content);
    div_box.appendChild(div_box_footer);
    div_box_footer.appendChild(bouton_precedent);
    div_box_footer.appendChild(bouton_suivant);

    obtenir_images(div_box_content);
    
  };

  /* Ne rien faire. */
  function rien_faire (e)
  {
    return;
  }

  /* Masquage de la «fenêtre» de choix d'image. */
  function masquer_choix (e)
  {
    e.target.style.display = "none";
  };

  /* Obtention des images. */
  function obtenir_images (div_box_content)
  {
    /* Requête. */
    fetch('/admin/images/0/8')
    .then((resp) => resp.json())
    .then(function(images) {
      console.log(images);
      for (let i = 0; i < images.length; i++)
      {
        console.log(images[i]);
        let image = document.createElement("img");
        div_box_content.appendChild(image);
        let image_telechargement = new Image();
        image_telechargement.src = "http://localhost:3000/admin/images/" + images[i].name;
        image.setAttribute("alt", images[i].name);
        image.setAttribute("data-id", images[i]._id);
        image.setAttribute("title", images[i].name);
        image.addEventListener("click", cette_image);
        image_telechargement.onload = function() {
          image.src = this.src;
        }
      }
    });

  }

  /* Valider l'image. */
  function cette_image (event)
  {
    let image = event.target;
    image_choisie_id = image.getAttribute("data-id");
    image_choisie_name = image.getAttribute("src");
    
  }

  let bouton_choix = document.getElementById("choix");
  console.log(bouton_choix);
  bouton_choix.addEventListener("click", choisir_image);



</script>
</html>