<% include ./partials/head %>

  <title><%= title %></title>
</head>
<body>
  <% include ./partials/navbar %>
  <div style="height: 250px;">

  </div>
  <% include ./partials/footer %>
</body>
</html>
