<% include ./partials/head %>

  <title><%= title %></title>
</head>
<body>
  <% include ./partials/navbar %>
  <div style="height: 250px;">

    <div class="container">
      <div class="row">

        <% include ./partials/sidebar %>

      </div> <!-- DIV ROW -->
    </div> <!-- DIV CONTAINER -->  

  </div>

  <% include ./partials/footer %>
