<% include ./partials/head %>

  <title><%= title %></title>
</head>
<body>
  <% include ./partials/navbar %>
  

    <div class="container bgimg">
      
        <!--<img src="/img/bgnews.jpg" alt="Background du site."> -->
      

      <div class="row">
        <% include ./partials/main %>

        <% include ./partials/sidebar %>

      </div> <!-- DIV ROW -->
    </div> <!-- DIV CONTAINER -->  

  

  <% include ./partials/footer %>
