<% include ./partials/head %>

  <title><%= title %></title>
</head>
<body>
  <% include ./partials/navbar %>
  

    <div class="container bgimg">
      
        <!--<img src="/img/bgnews.jpg" alt="Background du site."> -->
      
    <% if (typeof user === "undefined") { %>
    <form class="inscription jumbotron" method="POST">
        <div class="form-group">
            <label for="lastname">Nom</label> 
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom" required>
        </div>
        
        <div class="form-group">
          <label for="firstname">Prénom</label> 
          <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom" required>
        </div>
        

        <div class="form-group <% if (typeof helps.email !== "undefined") { %>has-error<% } %>">
            <label for="email">Email</label> 
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            <span class="help-block"><% if (typeof helps.email !== "undefined") { %><%= helps.email %><% } %></span>
        </div>
        

        <div class="form-group <% if (typeof helps.password !== "undefined") { %>has-error<% } %>">
            <label for="password">Mot de passe (min 5 caractères)</label> 
            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
            <span class="help-block"></span>
        </div>
        

        <div class="form-group <% if (typeof helps.confirm !== "undefined") { %>has-error<% } %>">
            <label for="confirmPassword">Confirmation du mot de passe</label> 
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmation mot de passe" required>
            <span class="help-block"><% if (typeof helps.confirm !== "undefined") { %><%= helps.confirm %><% } %></span>
        </div>
        

        <div class="text-center">
          <input class="btninscription" type="submit" name="Confirmer" value="Confirmer">
        </div>
    </form>    
    <% } else { %>
    <div class="jumbotron">
      <p class="validationinscription"></p>
    </div>
    <% } %>

    </div>

  <% include ./partials/footer %>
