<% include ./partials/head %>

  <title><%= title %></title>
</head>
<body>
  <% include ./partials/navbar %>
  

    <div class="container bgimg">
      
        <!--<img src="/img/bgnews.jpg" alt="Background du site."> -->
      
     
    <div class="inscription"> 
        <input type="text" class="form-control" id="nom" name="nom" value=">
    </div>    
   
    </div> 
  <p>
  Nom
  Prénom
  Email
  Mot de passe 
  Confirmation mot de passe
  </p>


  

  <% include ./partials/footer %>
