<% include ./partials/head %>
<title><%= title %></title>
</head>

<body id="welcomebody">
    
    <div class="container bgimg">
        <div class="jumbotron text-center animated bounce" style="background-color: #FEFDF0; margin-top: 20%;">
            <h1 class="welcomeh1 animated bounce">Bienvenue, vous êtes officiellement inscrit sur <span style="color:#ad8dda; text-decoration:none;">MEDIA TEMPLATE</span> .</h1>
            <p class="animated bounce">Cliquez sur le boutton pour revenir à la page d'accueil!</p>
            <img class="animated flash infinite" src="/img/fleche.png" alt="Fleche"> <br>
            <a href="/" class="btnerroraa animated bounce">Je suis là</a>
        </div>
        
    </div>

    