body{
    height: 100%;
    width: 100%;
    background-image: url(/img/bgnews.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*
----- NAVABAR -----
 */

.navbar{
    border-radius: 0px;
}
    
.login{
    border: none;
    margin-top: 11px;
    margin-right: 6px;
}

.fabutton{
    background: transparent;
    border: none;
    color:white;
}
/*
------ END NAVBAR -------
 */





/**
----- SIDEBAR -----
**/
.sidebar{
    background-color:grey;
}

.listarticle {
    
}

.dernierarticle{
    
    height: 2em;
    
}

.derniersarticles{
    text-decoration: none;
    /*padding: 0px 20px;*/
    color: white;
    
}

ul li {
    list-style: none;
}



/**
----- END SIDEBAR -----
**/



/*
----- FOOTER -----
 */
/*-- FOOTER-ICONE  --*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #111;
    text-align: center;
}

.footer-icone {
    /*bottom: 0;*/
    width: 100%;

}

footer .container{
    color: #fff;
    width: 100%;
}

.h3footer {
    color: wheat;
;
}

.pfooter {
    color: #CCC;
}

.reservedrigth {
    background-color: #111;
    text-align: center;
    color: #CCC;
}

.rsr{
    padding: 10.5px;
    margin: 0px;
    margin-top: 2%;
    line-height: 100%;
    font-size: 12px;
}


/*
------ END FOOTER -------
 */