html, body {
height: 100%;
margin: 0;
padding: 0;;
}

body{
    height: 100%;
    width: 100%;
    display: table;
    background-image: url(/img/bgnews.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



/*
----- NAVABAR -----
 */

.navbar{
    border-radius: 0px;
}
    
.login{
    border: none;
    margin-top: 11px;
    margin-right: 6px;
}

.fabutton{
    background: transparent;
    border: none;
    color:white;
}
/*
------ END NAVBAR -------
 */





/* ----- 404 ------
*/

body#notfound{
    background: linear-gradient(1.6turn,#0d0e0e, #ad8dda, #fff);
}

.text-center {
    margin-top: 30%;
}

.pageintrouvable {
    font-size: 70px;
    
}

.error404 {
    font-size: 35px;
}


.travolta {
    position: absolute;
    right: 37%;
    animation: john 2s ease;
    bottom: 0px;
}

.btnerror {
        background: #0d0e0e;
        background-image: -webkit-linear-gradient(top, #ad8dda);
        border-radius: 28px;
        color: #ad8dda;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-top: 1em;
        display: inline-block;    
        border-style: unset;
        transition-duration: 2s;
        
}
.btnerror:hover{
    background: #fff;
    color: #0d0e0e;
    text-decoration: none;
    
}

@keyframes john {
    0% {
        right: 200%;
    }
    100% {
        rigth: 40%;
    }
}


/* ------ END 404 ---- */


/* ---- ARTICLE -----*/
.article {

}

.titrearticle {
    font-size: 32px;
    color: black;
    margin: 20px 0px 0px 0px;
    font-weight: bold;   
}
article a {
    color: peachpuff;
}

.cssdate {
    color: peachpuff;
}

.imagearticle {
    max-width: 100%;
}
.textarticle {
    font-size: 15px;
    margin: 15px 0px;
}

.auteur{
    font-size: 35px;
    font-weight: bold;
}

.socialsarticle {

}

.textsocials {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 50px;
    color: salmon;
    margin-right: 20px;
}

.socialsicons {

}


/* ----- END ARTICLE ----- */

/*----- SIDEBAR -----
**/
.sidebar{
    background-color: grey;
}

.listarticle {
    
}

.dernierarticle{
    
    height: 2em;
    
}

.derniersarticles{
    text-decoration: none;
    /*padding: 0px 20px;*/
    color: white;
    
}

ul li {
    list-style: none;
}



.envedette{
    text-dec
}

/**
----- END SIDEBAR -----
**/






/*
----- FOOTER -----
 */

footer {
    /*position: relative;*/
    display: table-row;
    height: 100px;
    bottom: 0px;
    width: 100%;
    background-color: #111;
    text-align: center;
}

.footer-icone {
    /*bottom: 0;*/
    width: 100%;

}

footer .container{
    color: #fff;
    width: 100%;
}

.h3footer {
    color: wheat;
;
}

.pfooter {
    color: #CCC;
}

.reservedrigth {
    background-color: #111;
    text-align: center;
    color: #CCC;
}

.rsr{
    padding: 10.5px;
    margin: 0px;
    margin-top: 2%;
    line-height: 100%;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    footer .col-md-3.col-sm-6.col-xs-6 {
      width: 100%;
    }
  }
  
/*
------ END FOOTER -------
 */


 /*
------ INSCRIPTION -------
 */
 .inqcription {
     
 }

/*
------ END INSCRIPTION -------
 */

