html, body {
height: 100%;
margin: 0;
padding: 0;;
}

body{
    height: 100%;
    width: 100%;
    display: table;
    background-image: url(/img/bgnews.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



/*
----- NAVABAR -----
 */

.navbar{
    border-radius: 0px;
}
    
.login{
    border: none;
    margin-top: 11px;
    margin-right: 6px;
}
.form-control.navco {
   width: 40%;
   margin-bottom: 0.5em;
}

.fabutton{
    background: transparent;
    border: none;
    color:white;
}

.user_name{
    color: #9d9d9d;
}

.user_name:hover{
    color: #FFF;
    text-decoration: none;
}
/*
------ END NAVBAR -------
 */





/* ----- 404 ------
*/

body#notfound{
    background: linear-gradient(1.6turn,#0d0e0e, #ad8dda, #fff);
}

.text-center {
    margin-top: 30%;
}

.pageintrouvable {
    font-size: 70px;
    
}

.error404 {
    font-size: 35px;
}


.travolta {
    position: absolute;
    right: 37%;
    animation: john 2s ease;
    bottom: 0px;
}

.btnerror {
        background: #0d0e0e;
        background-image: -webkit-linear-gradient(top, #ad8dda);
        border-radius: 28px;
        color: #ad8dda;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-top: 1em;
        display: inline-block;    
        border-style: unset;
        transition-duration: 0.5s;
}
.btnerror:hover{
    background: #fff;
    color: #0d0e0e;
    text-decoration: none;
    
}

@keyframes john {
    0% {
        right: 200%;
    }
    100% {
        rigth: 40%;
    }
}


/* ------ END 404 ---- */


/* ---- ARTICLE -----*/
.article {

}

.titrearticle {
    font-size: 32px;
    color: black;
    margin: 20px 0px 0px 0px;
    font-weight: bold;   
}
article a {
    color: peachpuff;
}

.cssdate {
    color: peachpuff;
}

.imagearticle {
    max-width: 100%;
}
.textarticle {
    font-size: 15px;
    margin: 15px 0px;
}

.auteur{
    font-size: 35px;
    font-weight: bold;
}

.socialsarticle {

}

.textsocials {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 50px;
    color: salmon;
    margin-right: 20px;
}

.socialsicons {

}

/* ----- END ARTICLE ----- */



/*----- SIDEBAR -----
**/
.sidebar{
    background-color: grey;
}

.listarticle {
    
}

.dernierarticle{
    
    height: 2em;
    
}

.derniersarticles{
    text-decoration: none;
    /*padding: 0px 20px;*/
    color: white;
    
}

ul li {
    list-style: none;
}


.envedette{
    
}

/**
----- END SIDEBAR -----
**/



/**
----- INSCRIPTION -----
**/
.inscription {
    margin-top: 2%;
}

.text-center {
    margin-top: 5%;
}


label{
    margin-top: 0.5em;
    color: #ad8dda;
    font-weight: 700;
    
}

.btninscription {
    background: #0d0e0e;
    background-image: -webkit-linear-gradient(top, #ad8dda);
    border-radius: 28px;
    color: #ad8dda;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;    
    border-style: unset;
    transition-duration: 0.5s;
    margin-bottom: 2em;
    
}

.btninscription:hover{
background: #ad8dda;
color: #0d0e0e;
text-decoration: none;
}

.jumbotron {
    background-color: #fff;
    box-shadow: 2px 2px 1px rgba(13, 14, 14, 0.4);
}


/**
------ END INSCRIPTION -----
*/

/**
------- ADMINARTICLE -----
*/

.btnerroraa {
    background: #0d0e0e;
    background-image: -webkit-linear-gradient(top, #ad8dda);
    border-radius: 28px;
    color: #ad8dda;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;    
    border-style: unset;
    transition-duration: 0.5s;
}
.btnerroraa:hover{
background: #ad8dda;
color: #FEFDF0;
text-decoration: none;

}

label.labelaa{
    color: #ad8dda;
    font-weight: 700;
    margin-top: 0;
}

[type="file"] {
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  [type="file"] + label {
    background-color: #ad8dda;
    color: #f1e5e6;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 28px;
  }
  [type="file"] + label:hover {
    background-color: #0d0e0e;
    color: #ad8dda;
  }
  [type="file"]:focus + label {
    background-color: #FEFDF0;
    outline: 1px dotted #ad8dda;
  }
  

/**
------- END ADMINARTICLE -----
*/


/*
----- FOOTER -----
 */

footer {
    /*position: relative;*/
    display: table-row;
    height: 100px;
    bottom: 0px;
    width: 100%;
    background-color: #FEFDF0;
    text-align: center;
}

.footer-icone {
    /*bottom: 0;*/
    width: 100%;

}

footer .container{
    color: #fff;
    width: 100%;
}

.h3footer {
    color: #ad8dda;
;
}

.pfooter {
    color: #0d0e0e;
}

.reservedrigth {
    background-color: #FEFDF0;
    text-align: center;
    color: #0d0e0e;
}

.rsr{
    padding: 10.5px;
    margin: 0px;
    margin-top: 2%;
    line-height: 100%;
    font-size: 12px;
}

footer i {
    color: #0d0e0e;
}

@media screen and (max-width: 768px) {
    footer .col-md-3.col-sm-6.col-xs-6 {
      width: 100%;
    }
  }
  
/*
------ END FOOTER -------
 */


 /*
------ INSCRIPTION -------
 */
 .inscription {
     
 }

/*
------ END INSCRIPTION -------
 */

